<input-group [label]="question.label" [for]="'q'+question.order">
  @switch (question.type) {
    @case ('short_text') {
      <input
        id="{{'q'+question.order}}"
        type="text"
        [required]="question.isRequired"
        [attr.minLength]="question.minLength"
        [attr.maxLength]="question.maxLength"
        [value]="value || ''"
        (input)="onTextInput($event)" />
    }
    @case ('long_text') {
      <textarea
        id="{{'q'+question.order}}"
        [required]="question.isRequired"
        [attr.minLength]="question.minLength"
        [attr.maxLength]="question.maxLength"
        (input)="onTextInput($event)">{{ value || '' }}</textarea>
    }
    @case ('single_choice') {
      @for (opt of question.answerOptions || []; track opt.label) {
        <label>
          <input
            type="radio"
            [name]="'q'+question.order"
            [value]="opt.label"
            [checked]="value === opt.label"
            (change)="onRadioSelect($event)"
            [required]="question.isRequired" />
          {{ opt.label }}
        </label>
      }
      @if (question.allowManualEntry) {
        <input
          type="text"
          [placeholder]="'Other...'"
          [value]="manualEntryDisplay(value)"
          (input)="onTextInput($event)"
          [attr.minLength]="question.manualEntryMinLength"
          [attr.maxLength]="question.manualEntryMaxLength" />
      }
    }
    @case ('multiple_choice') {
      @for (opt of question.answerOptions || []; track opt.label) {
        <label>
          <input
            type="checkbox"
            [value]="opt.label"
            [checked]="(value || []).includes(opt.label)"
            (change)="onCheckboxToggle(opt.label, $any($event.target).checked)" />
          {{ opt.label }}
        </label>
      }
      @if (question.allowManualEntry) {
        <input
          type="text"
          [placeholder]="'Other...'"
          [value]="manualValue()"
          (input)="onManualEntryInput($event)"
          [attr.minLength]="question.manualEntryMinLength"
          [attr.maxLength]="question.manualEntryMaxLength" />
      }
    }
    @case ('date') {
      <input
        id="{{'q'+question.order}}"
        type="date"
        [required]="question.isRequired"
        [value]="value || ''"
        [attr.min]="question.minDate"
        [attr.max]="question.maxDate"
        (change)="onDateSelect($event)" />
    }
    @case ('file_upload') {
      <input
        id="{{'q'+question.order}}"
        type="file"
        [required]="question.isRequired"
        [attr.accept]="(question.acceptedFileTypes || []).join(',')"
        (change)="onFileSelect($event)" />
    }
    @case ('video_link') {
      <input
        id="{{'q'+question.order}}"
        type="text"
        [required]="question.isRequired"
        [value]="value || ''"
        (input)="onTextInput($event)" />
    }
  }
</input-group>
